footer{
  padding-top: 4rem;
  width: 100%;
  display: flex;
}
.texto{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Dancing_Script';
    text-align: center;
    color: rgb(56, 21, 21);
    text-shadow: 1px 1px 3px black;
    background-color: white;

}
.mapa{
    width: 60%;
    heigth: 100%;
}
.mapa iframe{
    width: 100%;
}
@media (max-width: 768px) {
  .texto{
    display: none;
  }
  .mapa{
    width: 100%;
  }
  
}





