.producto-pan{
    width: 100%;
    height: auto;
    margin-top: 8rem;
    display: flex;
    padding: 1rem; /* Aquí va el padding */

}
.imagen {
    width: 35%;
    height: 74vh;
    padding-right: 1rem; /* Aquí va el padding */
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño total */
}

.imagen img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: block; /* elimina espacios fantasmas por inline images */
}

.descripciones {
    width: 65%;
    background-color: white;
    border: 1px solid #e3e4e5;
    display: flex;
    flex-direction: column; /* apila los elementos verticalmente */
    justify-content: center;
    align-items: center; /* opcional: centra horizontalmente los elementos */
    padding: 1rem;
    border-radius: 1rem;
}
.descripciones h1,
.descripciones p {
    width: 100%;
}
.descripciones h1 {
    text-align: center;
    font-family: 'Dancing_Script';
    font-size: 3rem;
    text-shadow: 1px 1px 3px black;
}
.textos{
    font-style: italic;
    font-size: 1.2rem;
    text-align: justify;
}
.costos{
    width: 100%;
    text-align: center;
    color: rgb(38, 122, 3);
    font-style: italic;
    font-size: 3rem;
}
